h1 {
    color: red;
}
* {
   border:none;
}
.top{
    background-color: yellow ; 
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.product{
    display: flex;
    justify-content: flex-start;
    background-color:lightblue ;
}
.object{
    display: flex;
    justify-content: flex-start;
    background-color: lightgreen;
}
.item{
    display: flex;
    justify-content: flex-start;
    background-color: pink;
}
h2{
    text-align: center;
}
.product img{
    border: 2 px solid #000000;
    border-radius: 50px;
}